# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Conda
.env
.env.*
*.egg-info/

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# macOS
.DS_Store

# Coverage
.coverage
htmlcov/